header{
    border: 1px solid black;
    position: fixed;
    top: 1px;
    left: 1px;
    width: 100%;
    text-align: center;
    color: red;
    background-color: yellow;
}


footer {
    border: 1px solid black;
    display: grid;
    grid-area: f;
    position: fixed;
    bottom: 1px;
    left: 1px;
    width: 100%;
    text-align: center;
    color: red;
    background-color: yellow;
    
}

main {
    background-color: white;
    margin: auto;
    width: 80%;
    border: 2px solid red;
    display: grid;
    grid-area: m;
    position: static;
    padding-top: 100px;
    
    
}
nav{
    background-color: white;
    grid-area: n;
    border: 1px solid black;
    display: grid;
    position: absolute;
    top: 110px;
    right:20px;
    width: 100%;
}
body {
    background-color: blue;
    grid-template-columns:  
    "n n n "
    "a a a "
    "f f f ";
    
}

form {
    position: absolute;
    right: 50px;
    width: 40%;
    margin: auto;



}
.formNak {
    border: 1px solid black;
    position: absolute;
    left:calc((100%-200px)/2)
}
